body {
  background-color: #000000;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Noto Sans KR", sans-serif;
}

.border {
  padding: 4rem;
  background-color: RGB(255, 255, 255, 0.7);
  border-style: solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  cursor: pointer;
}

body {
  color: #000000;
}

.clicked {
  color: #c2fbff;
}

.form,
.greeting {
  display: none;
}

.showing {
  display: block;
  float: left;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.clock {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: x-large;
}

.weather {
  font-family: Tahoma, Geneva, sans-serif;
}

.map-marker {
  font-size: 15px;
}

.edit {
  position: relative;
  margin-left: 5px;
  left: 0;
  margin-top: 25px;
}

button {
  margin-left: 7px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #f8f3ff;
}
